In [5]:
import pandas as pd

df_customer = pd.read_csv('data/customers.csv')  

def find_index(df_customer,customer_id):
    for i,id in enumerate(df_customer['id']):
        if str(customer_id) == str(id):
            return i
    return None

find_index(df_customer,'4903333245581')

0

In [17]:
def create_table(df,Barcodes):
    # table = 'Total 9999//aaaaa|12|120/bbbb|1|100/ccccc|12|120/ddddd|1|100'
    df_barcode = []
    for i in set(df['barcode']):
        df_barcode.append(str(i))
    keys = list(set(Barcodes).intersection(set(df_barcode)))  #grt barcode key only in database
    
    table = ''
    Total = 0 
    for k in keys:
        barcode = k
        count = Barcodes.count(k)
        name,price = find_product_data(df,barcode)
        total = price*count
        Total += total
#         print(barcode,count,name,price,total)
        table += f'/{name}|{count}|{total}'

    table = f'Total {Total}/{table}'
    return table

def find_product_data(df,barcode):
    for i,b in enumerate(df['barcode']):
        if str(b) == str(barcode):
            return df['name'][i],df['price'][i]
    else:
        return None,None

In [18]:
import pandas as pd

df = pd.read_csv('data/products.csv') 
Barcodes = ['9786161820626', '9786161820626', '9786161820626', '9786161820626', '9786161820626']
create_table(df,Barcodes)

'Total 100//product4|5|100'

In [19]:
find_product_data(df,'9786161820626')

('product4', 20)

In [15]:
df = pd.read_csv('data/products.csv') 
df

         barcode      name  price
0  9187786495792  product1      5
1  9781186495798  product2     10
2  9781786495792  product3     15
3  9786161820626  product4     20

In [3]:
import pandas as pd
df = pd.read_csv('data/products.csv') 
df_customer = pd.read_csv('data/customers.csv')  
df

         barcode      name  price
0  9187786495792  product1      5
1  9781186495798  product2     10
2  9781786495792  product3     15
3  9786161820626  product4     20

In [11]:
df_customer

              id    name  balance
0  4903333245581  phawit     1000

In [ ]:
find

In [7]:
Barcodes = ['9786161820626', '123456','9781786495792', '9781786495792', '9187786495792', '9781786495792', '9781786495792', '9781186495798', '9187786495792', '9781786495792']

In [8]:
def find_product_data(df,barcode):
    for i,b in enumerate(df['barcode']):
        if str(b) == str(barcode):
            return df['name'][i],df['price'][i]
    else:
        return None,None

In [10]:
def create_table(df,Barcodes):
    # table = 'Total 9999//aaaaa|12|120/bbbb|1|100/ccccc|12|120/ddddd|1|100'
    df_barcode = []
    for i in set(df['barcode']):
        df_barcode.append(str(i))
    df['barcode'] = df_barcode
    keys = list(set(Barcodes).intersection(set(df['barcode'])))  #grt barcode key only in database
    
    table = ''
    Total = 0 
    for k in keys:
        barcode = k
        count = Barcodes.count(k)
        name,price = find_product_data(df,barcode)
        total = price*count
        Total += total
#         print(barcode,count,name,price,total)
        table += f'/{name}|{count}|{total}'

    table = f'Total {Total}/{table}'
    return table

create_table(df,Barcodes)

'Total 115//product3|5|75/product1|2|10/product2|1|10/product4|1|20'

In [45]:
import pandas as pd
import datetime

df_hist = pd.DataFrame(columns = ['customer', 'table','timestamp'])
df_hist

Empty DataFrame
Columns: [customer, table, timestamp]
Index: []

In [8]:
import pandas as pd
import datetime

table = 'Total 115//product3|5|75/product1|2|10/product2|1|10/product4|1|20'
customer = '4903333245581'
time = datetime.datetime.now()

data = {
    'customer':customer,
    'table':table,
    'timestamp':time
}


# df_hist = pd.DataFrame(columns = ['customer', 'table','timestamp'])
df_hist = df_hist.append(data, ignore_index = True)
df_hist

,customer,table,timestamp
0,4903333245581,Total 115//product3|5|75/product1|2|10/product...,2022-04-16 21:21:49.183006
1,4903333245581,Total 115//product3|5|75/product1|2|10/product...,2022-04-16 21:22:01.989188

In [9]:
df_hist.to_csv('data/historys.csv',index=False)

In [17]:
df_hist = pd.read_csv('data/historys.csv')
df_hist

,customer,table,timestamp
0,4903333245581,Total 115//product3|5|75/product1|2|10/product...,2022-04-16 21:21:49.183006
1,4903333245581,Total 115//product3|5|75/product1|2|10/product...,2022-04-16 21:22:01.989188
2,4903333245581,Total 115//product3|5|75/product1|2|10/product...,2022-04-16 21:27:22.154996
3,4903333245581,Total 115//product3|5|75/product1|2|10/product...,2022-04-16 21:28:55.276515

In [16]:
import pandas as pd
import datetime

table = 'Total 115//product3|5|75/product1|2|10/product2|1|10/product4|1|20'
customer = '4903333245581'
time = datetime.datetime.now()

data = {
    'customer':customer,
    'table':table,
    'timestamp':time
}


df_hist = pd.DataFrame(columns = ['customer', 'table','timestamp'])
df_hist = df_hist.append(data, ignore_index = True)
df_hist.to_csv('data/historys.csv', mode='a', header=False,index=False)

In [30]:
total = table.split('//')[0].split(' ')[1]
total

'115'

In [42]:
df_customer

              id    name  balance
0  4903333245581  phawit      770

In [44]:
table = 'Total 115//product3|5|75/product1|2|10/product2|1|10/product4|1|20'
buy = table.split('//')[0].split(' ')[1]
customer = '4903333245581'

def update_balance(buy,customer,df_customer):
    for i,id in enumerate(df_customer['id']):
        if str(customer) == str(id):
            name = df_customer['name'][i]
            df_customer['balance'][i] -= int(buy)
            return df_customer
            
df_customer = update_balance(buy,customer,df_customer) 
df_customer

<ipython-input-44-14c598cbf1ae>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_customer['balance'][i] -= int(buy)

              id    name  balance
0  4903333245581  phawit      540

In [17]:
x = datetime.datetime.now()
print(str(x))

2022-04-16 20:42:30.468360

In [5]:
'4903333245581' in str(df_customer['id'])

True

In [7]:
a = ['4903333245581']
a[-1]

'4903333245581'

product

In [93]:
import pandas as pd

def find_product_data(df,barcode):
    for i,b in enumerate(df['barcode']):
        if str(b) == str(barcode):
            return df['name'][i],df['price'][i]
    else:
        return None,None

df = pd.read_csv('data/products.csv')  



Barcodes = ['9786161820626', '123456','9781786495792', '9781786495792', '9187786495792', '9781786495792', '9781786495792', '9781186495798', '9187786495792', '9781786495792']


def create_table(df,Barcodes):
    # table = 'Total 9999//aaaaa|12|120/bbbb|1|100/ccccc|12|120/ddddd|1|100'
    df_barcode = []
    for i in set(df['barcode']):
        df_barcode.append(str(i))
    df['barcode'] = df_barcode
    keys = list(set(Barcodes).intersection(set(df['barcode'])))  #grt barcode key only in database
    
    table = ''
    Total = 0 
    for k in keys:
        barcode = k
        count = Barcodes.count(k)
        name,price = find_product_data(df,barcode)
        total = price*count
        Total += total
#         print(barcode,count,name,price,total)
        table += f'/{name}|{count}|{total}'

    table = f'Total {Total}/{table}'
    return table
create_table(df,Barcodes)

'Total 115//product1|2|10/product2|1|10/product3|5|75/product4|1|20'

In [90]:
b = []
for i in set(df['barcode']):
    b.append(str(i))
b

['9187786495792', '9786161820626', '9781786495792', '9781186495798']

In [76]:
Barcodes = ['9786161820626', '9781786495792', '9781786495792', '9187786495792', '9781786495792', '9781786495792', '9781186495798', '9187786495792', '9781786495792']
set(Barcodes)

{'9187786495792', '9781186495798', '9781786495792', '9786161820626'}

In [70]:
df = pd.read_csv('data/products.csv')  
df

         barcode   name  price
0  9786161820626  book1      5
1  9781786495792  book2     20

In [73]:
def find_product_data(df,barcode):
    for i,b in enumerate(df['barcode']):
        if str(b) == str(barcode):
            return df['name'][i],df['price'][i]
    else:
        return None,None
        
name,price = find_product_data(df,'9786161820626')
name,price

('book1', 5)

In [43]:
df['name'][0]

'book1'